/* ----------------- index.html ----------------- */

#signup-page {
    background-color: rgb(172, 50, 50);
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 0px;
    
}

#login-page{
    background-color: rgb(172, 50, 50);
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 0px;
}

.signup-top-container {
    box-shadow: 5px 5px 6px -4px #000000;
    background-color: rgb(172, 50, 50);
    margin-bottom:20px;
}

.logo {
    width:130px;
    height:130px;
}

#signup-btn {
    padding:5px;
    border:0px;
    text-align:center;
    margin-top:50px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#toplogin-btn {
    padding:5px;
    border:0px;
    text-align:center;
    margin-top:50px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#signup-image {
    width:100%;
    height:260px;
}

.signup-picture-container {
    text-align: center;
    box-sizing:border-box;
    margin-right:0px;
    margin-left:0px;
}



#signup-username,
#signup-password,
#signup-confirmpassword {
    color:white;
    width:90%;
    margin-bottom:15px;
    padding:10px;
    background-color:rgb(134, 31, 31);
    border:0px;
}

form {
    margin-top:70px;
}

::placeholder { 
    color: white;
    opacity: 1; 
}

#signup-text {
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    margin-bottom:-40px;
}



#signup-desc {
    font-family: 'Roboto Slab', serif;
    font-size:45px;
    
}

#signup-page  {
    color:white;
}

#signup-terms {
    text-align:left;
    max-width:370px;
}

#signup-btn {
    width:90%;
    border:0px;
    padding:8px;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#signup-btn:disabled {
    width:90%;
    border:0px;
    padding:8px;
    background-color:rgb(134, 31, 31);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#signup-arrow {
    text-align: center;
    font-size:50px;
    margin-top:80px;
}

.signup-bottom-container {
    padding:50px;
    margin-bottom:50px;
}

#signup-features-title {
    font-family: 'Roboto Slab', serif;
    font-size:45px;
    text-align:center;
}

#signup-features-content {
    font-size:20px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    display:block;
    max-width:400px;
    padding:10px;
    background-color: rgb(223, 79, 79);
    box-shadow: 5px 5px 6px -4px #000000;
    
}

#signup-feature1-title,
#signup-feature2-title,
#signup-feature3-title {
    text-align: center;
}



.signup-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: white;
    text-align: left;
}

.signup-footer-row {
    padding:10px;
}

#terms-anchor,
#policy-anchor {
    color:white
}



#footer-terms-title,
#footer-policy-title,
#footer-terms-content,
#footer-policy-content {
    color: rgb(223, 79, 79);
}

#footer-contact-title,
#footer-contact-1,
#footer-contact-2 {
    color:rgb(223, 79, 79);
}

/* ----------------- index.html ----------------- */

/* ----------------- login.html ----------------- */

#login-logo {
    height:350px;
}

#login-username,
#login-password {
    color:white;
    width:50%;
    padding:10px;
    margin-bottom:25px;
    background-color:rgb(134, 31, 31);
    border:0px;
    
}

.login-form-outer {
    text-align:center;
}

#login-btn{
    width:50%;
    border:0px;
    margin-top:0px;
    padding:8px;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#login-btn:disabled{
    width:50%;
    border:0px;
    margin-top:0px;
    padding:8px;
    background-color:rgb(134, 31, 31);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}


/* ----------------- login.html ----------------- */

/* ----------------- selection.html ----------------- */

#selection-page {
    background-color: rgb(172, 50, 50);
}

.selection-logo {
    height:350px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

#selection-title {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    text-align: center;
    margin-bottom:40px;
    
}

.selection-container1,
.selection-container2 {
    align-content:center;
    padding:50px;
}


.charmander-card,
.bulbasaur-card,
.squirtle-card,
.pikachu-card {
    box-shadow: 5px 5px 6px -4px #000000;
}

.charmander-card,
.bulbasaur-card,
.squirtle-card,
.pikachu-card {
    box-shadow: 5px 5px 6px -4px #000000;
}

.charmander-card:hover,
.bulbasaur-card:hover,
.squirtle-card:hover,
.pikachu-card:hover {
    background-color:rgb(223, 79, 79);
}



.charmander-card:focus,
.bulbasaur-card:focus,
.squirtle-card:focus,
.pikachu-card:focus {
    background-color:rgb(223, 79, 79)
}


#select-btn {
    border:0px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top:100px;
    width:60%
}


#select-btn:disabled {
    border:0px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:rgb(200, 69, 50);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top:100px;
    width:60%
}

/* ----------------- selection.html ----------------- */

/* ----------------- policy.html ----------------- */


#policy-page {
    background-color: rgb(172, 50, 50);
}

#policy-content {
    padding:30px;
    color:white;
}

.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    font-size:25px;
    margin-left:10px;
}

.previous:hover {
    color: white;

}

/* ----------------- policy.html ----------------- */

/* ----------------- terms.html ----------------- */


#terms-page {
    background-color: rgb(172, 50, 50);
}

#terms-content {
    padding:30px;
    color:white;
}




/* ----------------- terms.html ----------------- */

/* ----------------- home.html ----------------- */

#home-page {
    background-color: white
    
}

#home-logo {
    width:100px;
    margin-left:-20px;
}

.navbar-custom { 
    background-color: rgb(200, 69, 50);; 
} 

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: white; 
    font-size:25px;
    margin-left:-10px; 
} 

#navbar-tasks,
#navbar-calendar,                 /* NavBar CSS is universal(for all pages) */
#navbar-skill-tree {
    color:white;
    font-size:20px;
    margin-left:40px;
}

.home-top-container {
    background-color: rgb(172, 50, 50);
}

.home-middle-container {
    padding:50px;
}

#home-daillies-title,
#home-todo-title,
#home-shop-title {
    color:rgb(172, 50, 50);
    
}

#home-daily-add,
#home-todo-add,
#home-shop-add {
    background-color:grey;
    padding:8px;
    border:0px;
}

.home-daily-column,
.home-todo-column,
.home-shop-column {
    border:darkgrey 5px solid;
    
}



/* ----------------- home.html ----------------- */