/* ----------------- Universal CSS ----------------- */

html {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

body {
    height:100%;
    width:100%;
    overflow-x: hidden; 
}


.navbar-custom { 
    background-color: rgb(200, 69, 50);; 
} 

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: white; 
    font-size:25px;
    margin-left:-10px; 
} 

#navbar-tasks,
#navbar-calendar,                 /* NavBar CSS is universal(for all pages) */
#navbar-skill-tree {
    color:white;
    font-size:20px;
    margin-left:40px;
}

#nugget-count {
    color:white;
}

.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.splash {
    position:fixed;
    width:100%;
    height:100vh;
    background:rgb(172, 50, 50);
    z-index:100;
    opacity:0.9;
}

#splash-loading {
    width: 5vw;
    margin: auto;
}

.splash.display-none {
    position:fixed;
    opacity:0;
    width:100%;
    height:100vh;
    background:rgb(172, 50, 50);
    z-index:-10;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}



/* ----------------- Universal CSS ----------------- */



/* ----------------- index.html ----------------- */

#signup-page {
    background-color: rgb(172, 50, 50);
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 0px;
}

#video {
    object-fit: cover;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

#signup-loading {
    width:5vw;
    height:5vh;
    margin:auto;
    margin-right:50%;
    padding:2%;
}


.signup-top-container {
    box-shadow: 5px 5px 6px -4px #000000;
    background-color: rgb(172, 50, 50);
    margin-bottom:3%;
}

.logo {
    width:100%;
    height:100%;
}

.signup-anchor,
.signup-anchor:hover {
    color:white;
}

.tooltips {
    background-color:rgb(223, 79, 79);
    padding:1%;
    border-radius: 4px;
}


#toplogin-btn {
    border:0px;
    text-align:center;
    margin-top:40%;
    padding:10%;
    padding-left:20%;
    padding-right:20%;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#signup-image {
    width:100%;
    height:20vw;
}

.signup-picture-container {
    text-align: center;
    box-sizing:border-box;
    margin-right:0px;
    margin-left:0px;
}

#signup-username,
#signup-password,
#signup-confirmpassword {
    color:white;
    width:90%;
    margin-bottom:3%;
    padding:2%;
    background-color:rgb(134, 31, 31);
    border:0px;
}

form {
    margin-top:70px;
}

::placeholder { 
    color: white;
    opacity: 1; 
}

#signup-text {
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    margin-bottom:-40px;
}

#signup-desc {
    font-family: 'Roboto Slab', serif;
    font-size:45px;
}

#signup-page  {
    color:white;
}

#signup-terms {
    text-align:left;
    max-width:370px;
}

#signup-btn {
    width:90%;
    border:0px;
    padding:1%;
    height:10%;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#signup-btn:disabled {
    width:90%;
    border:0px;
    padding:1%;
    height:10%;
    background-color:rgb(134, 31, 31);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#signup-arrow {
    text-align: center;
    font-size:50px;
    margin-top:80px;
}

.signup-bottom-container {
    padding:50px;
    margin-bottom:50px;
}

#signup-features-title {
    font-family: 'Roboto Slab', serif;
    font-size:45px;
    text-align:center;
}

#signup-features-content {
    font-size:20px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    display:block;
    max-width:30vw;
    padding:10px;
    background-color: rgb(223, 79, 79);
    box-shadow: 5px 5px 6px -4px #000000;
    
}

.signup-feature-col {
    padding:10px;
    text-align: center;
}

.signup-feature-title {
    text-align: center;
}

.signup-feature-flexbox {
    display:flex;
    flex-direction:column;
}

.signup-feature-pic {
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.signup-feature-pic2 {
    margin-left: auto;
    margin-right: auto;
    display:block;
    padding-top:3%;
}

.signup-feature-content {
    color:white;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}


.signup-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: white;
    text-align: left;
}

.signup-footer-row {
    padding:10px;
    width: 100%;
}

.footer-anchor,
.footer-anchor:hover {
    color:rgb(223, 79, 79);
}

.footer-content {
    color: rgb(223, 79, 79);
}

#footer-copyright {
    color:rgb(223, 79, 79);
    text-align:center;
}



/* ----------------- index.html ----------------- */

/* ----------------- login.html ----------------- */


#login-page{
    background-color: rgb(172, 50, 50);
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 0px;
}

.login-form-outer {
    height:50%;
}

#login-logo {
    height:35%;
    text-align:center;
    display:block;
    margin:auto;
}

#login-username,
#login-password {
    color:white;
    width:50%;
    padding:0.5%;
    margin-bottom:2%;
    background-color:rgb(134, 31, 31);
    border:0px;
    
}

.login-form-outer {
    text-align:center;
}

#login-btn{
    width:50%;
    border:0px;
    padding:0.5%;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#login-btn:disabled{
    width:50%;
    border:0px;
    padding:0.5%;
    background-color:rgb(134, 31, 31);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
}

#login-loading {
    height:5vh;
    width:5vw;
    margin:auto;
}


/* ----------------- login.html ----------------- */

/* ----------------- selection.html ----------------- */

#selection-page {
    background-color: rgb(172, 50, 50);
}

.selection-logo {
    height:25%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

#selection-title {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2vw;
    text-align: center;
}

.selection-card-img {
    height:20vh;
}

.selection-card-deck {
    padding:5%;
    justify-content: center;
}

.selection-container1,
.selection-container2 {
    align-content:center;
    padding:2%;
}


.selection-card {
    box-shadow: 5px 5px 6px -4px #000000;
    max-width:15vw;
    height:50%;
}

.selected,
.selection-card:hover {
    background-color:rgb(223, 79, 79)   !important
}

#select-btn {
    border:0px;
    padding:0.5%;
    background-color:rgb(223, 79, 79);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
    text-align:center;
    margin:auto;
    margin-bottom:5%;
    display:block;
    margin-top:1%;
    width:60%;
}

#select-btn:disabled {
    border:0px;
    padding:0.5%;
    background-color:rgb(200, 69, 50);
    color:white;
    box-shadow: 5px 5px 6px -4px #000000;
    text-align:center;
    width:50%;
    margin-bottom:5%;

}


/* ----------------- selection.html ----------------- */

/* ----------------- policy.html ----------------- */


#policy-page {
    background-color: rgb(172, 50, 50);
}

#policy-content {
    padding:30px;
    color:white;
}

.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    font-size:25px;
    margin-left:10px;
}

.previous:hover {
    color: white;

}

/* ----------------- policy.html ----------------- */

/* ----------------- terms.html ----------------- */


#terms-page {
    background-color: rgb(172, 50, 50);
}

#terms-content {
    padding:30px;
    color:white;
}




/* ----------------- terms.html ----------------- */

/* ----------------- home.html ----------------- */



#home-page {
    background-color: white
}

#home-logo {
    width:100px;
    margin-left:-20px;
}

.home-top-container {
    background-color: rgb(172, 50, 50);
    padding-top:0.5%;
    padding-bottom:0.5%;
}

.home-top-row {
    background-color: rgb(172, 50, 50);
    width:50%;
}

#home-starter-pic {
    background-color:rgb(243, 119, 99);
    margin:10%;
    border-radius:8px;
}

#home-username {
    color:white;
    font: 500 1.5vw "Montserrat", sans-serif;
}

#home-level {
    color:white;
    font: 500 1vw "Montserrat", sans-serif;
}

.home-top-col2 {
    margin-left:2%;
}

#top-flex-container {
    display:flex;
    flex-direction: row;
    width:100%;
}

.hp-bar,
.xp-bar {
    width:100%;
    margin-top:3%;
}

#hp-number,
#xp-number {
    color:white;
    font-size:20px;
    margin-left:5%;
    
}

.home-middle-container {
    padding:1%;
    /* height:45vh; */
}

/* .home-middle-row {
     height:45vh; 
} */

.home-title {
    color:rgb(172, 50, 50);
}


.home-add {
    background-color:grey;
    padding:8px;
    border:0px;
    width:100%;
    color:white;
}

.home-column {
    display:block;
    background-color: darkgrey;
    padding:2%;
    min-height:45vh;
    z-index:1;
}

/* .external-flex-container {
    display:inline-block;
    width:100%;
} */

.flex-container {
    display:flex;
    flex-direction:row;
    margin-top:2%;
    /* height:12%; */
}

.flex-item1 {
    padding:3%;
    background-color:rgb(226, 58, 58); 
}

.flex-item2 {
    padding:1.5%;
    background-color: rgb(197, 63, 63);
    width:90%;
    color:white;
    font-size:1.2vw;
}

.flex-item3 {
    background-color: rgb(197, 63, 63);
    padding:3%;
}

.home-info-container {
    display:block;
    margin-bottom:2%;
}

.flex-container-shop {
    display:flex;
    flex-direction:row;
}

.home-info-col {
    margin-top:5%;   
}

.home-info {
    text-align: center;
    font-size:0.8vw;
    background-color:darkgrey;
}

input.checkbox {
    zoom: 2.5;
}

.shop-container {
    text-align: center;
    padding-top:3%;

}

.home-footer {
    background-color:rgb(172, 50, 50);
    position:relative; 
    width:100%;
    bottom: 0;
    height:15%;
}

.home-footer-content,
.home-footer-desc-title  {
    color: white;
}

#home-footer-copyright {
    color:white;
    text-align:center;
}

.home-footer-row {
    padding:1%;
    position:relative; 
    bottom:0;
}

.home-footer-anchor,
.home-footer-anchor:hover {
    color:white;
}



/* ----------------- home.html ----------------- */

/* ----------------- calendar.html ----------------- */

#calendar-desc {
    text-align:center;
    color:white;
    font-size:2vw;
    box-shadow: 5px 5px 6px -4px #000000;
    max-width:50vw;
    padding:1%;
    margin:auto;
}

#btn-div {
    margin-left:1%;
}

.prev-btn,
.next-btn {
    display:block;
    width:10%;
}


#calendar-heading {
    color:white;
    text-align: center;
    font: 900 4.5vw "Montserrat", sans-serif;
    
}

* {
    box-sizing: border-box;
}

#calendar-page {
    font-family: "Comfortaa", sans-serif;
    background-color:rgb(223, 79, 79);
}
.explanation {
    background: var(--color);
    grid-column: span 6;
    padding: 28px;
    color: #fff;
    line-height: 1.7;
}
.explanation a {
    text-decoration: none;
    color: #fff;
    padding: 3px 0;
    border-bottom: 1px dashed;
}
.explanation a:hover {
    border-bottom: 1px solid;
}
/* footer {               
    background: var(--color);
    text-align: center;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
}
footer a {
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: 1px dashed #fff;
    color: #fff;
    margin: 0 5px;
}
footer a:hover {
    background: rgba(0, 0, 0, 0.05);
}
footer a .icons {
    margin-top: 8px;
    display: inline-block;
    font-size: 20px;
} */
.date {
    background: var(--color);
    padding: 15px;
    position: relative;
    font-size: 20px;
}
.month {
    background: var(--color);
    font: 900 75px "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 40px 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}
.month--name {
    grid-column: span 3;
}
.main-content {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(5, 170px) 80px;
    grid-template-columns: repeat(7, minmax(170px, 1fr));
    padding:1%;
    
}
.event {
    z-index: 10;
    background: transparent;
    padding-top: 40px;
}
.event__name {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

.date:after {
    position: absolute;
    z-index: 20;
    top: 15px;
    right: 15px;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

.Monday:after{
    content: "Mon";
}
.Tuesday:after{
    content:"Tue";
}
.Wednesday:after{
    content: "Wed";
}
.Thursday:after{
    content: "Thu";
}
.Friday:after{
    content: "Fri";
}
.Saturday:after{
    content: "Sat";
}
.Sunday:after{
    content: "Sun";
}

/* ----------------- calendar.html ----------------- */

/* ----------------- skilltree.html ----------------- */

#skill-tree-page {
    background-color:rgb(223, 79, 79)
}

#skill-tree-heading {
    color:white;
    text-align: center;
    font: 900 4.5vw "Montserrat", sans-serif;
}

.skill-tree-divider {
    height:20%;
}

#skill-tree-desc {
    text-align:center;
    color:white;
    font-size:2vw;
    box-shadow: 5px 5px 6px -4px #000000;
    max-width:50vw;
    padding:1%;
    margin:auto;
}

.skill-tree-top-container {
    padding:1%;
    margin-top:3%;
    height:80%;
}

#skill-tree-legend {
    color:white;
    font: 700 1vw "Montserrat", sans-serif;
    padding-left:1%;
    width:10%;
}

#skill-tree-not-learnt {
    background-color:rgb(233, 105, 105);
    width:100%;
    padding:5%;
}

#skill-tree-learnt {
    background-color:rgb(155, 41, 41);
    width:100%;
    padding:5%;
}

.skill-tree-col {
    height:100%;
    display:block;
}

.skill-header {
    color:white;
    text-align: center;
    font: 600 1.5vw "Montserrat", sans-serif;
    padding:3%;
    box-shadow: 5px 5px 6px -4px #000000;
    background-color:rgb(233, 105, 105);
}

.skill-line {
    display:inline-block;
    border-left: 15px solid white;
    height:100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    z-index:-1;
}

.skill-content {
    color:white;
    background-color:rgb(233, 105, 105);
    border:0px;
    display:block;
    margin:auto;
    width:80%;
    height:20%;
    margin-top:20%;
    box-shadow: 5px 5px 6px -4px #000000;
}

.learnt {
    color:white;
    background-color:rgb(155, 41, 41);
    border:0px;
    display:block;
    margin:auto;
    width:80%;
    height:20%;
    margin-top:20%;
}



/* ----------------- skilltree.html ----------------- */
